// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// Bootstrap
@import '~bootstrap/scss/bootstrap';


.limited-content {
    max-width: 0ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.navbar-brand {
    background-color: #ffffff;

}

.a {

    color: white;
}

body {
    background-color: #4A4D5F;
    font-family: Tahoma, sans-serif;

}
